@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: E6E2DD;
}

header {
    background-color: #D48166;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

section {
    margin-top: 70px;
    text-align: center;
}

footer {
    background-color: #D48166;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}



#dashboard-header {
    text-align: right;
    overflow: hidden;
}

#list-items {
    text-align: center;
}

#list-items a {
    float: left;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #373A36;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

#list-items a:hover {
    color: #fff;
    cursor: pointer;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #373A36;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.button {
    text-align: center;
    padding: 30px;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .login-form {
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h1 {
    text-align: center;
  }
  
  .input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field input, .input-field select {
    width: 450px;
    padding: 10px 35px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field input:focus {
    outline: none;
    border-color: black;
  }
  
  .login-btns{
    margin: 0 2px;
    padding: 3px;
    text-align: center;
  }
  
  .login-btns:hover{
    cursor: pointer;
  }

  .login-error-message {
    text-align: center;
  }